@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@model BlockListItem

@{
    var c = Model.Content;
    var strong = c.Value<string>("strong");
    var header = c.Value<string>("header");
    var text = c.Value<string>("text");
    var company = c.Value<string>("company");
    var reviewName = c.Value<string>("reviewName");
    var image = c.Value<IPublishedContent>("image");
}

<section id="Review">
    <div class="w-full bg-[#F7F7F7] py-16 flex justify-center items-center">
        <div class="w-3/4 max-w-[1200px] flex items-center gap-8">
            <div>
                <strong class="text-sm text-[#D9C3A9]">@strong</strong>
                <p class="text-2xl font-bold mt-2">@header</p>
                <img class="lg:hidden mt-4 max-w-[500px]" id="Stars" src="@image?.Url()" alt="">
                <p class="mt-4 font-normal italic text-[#999999]">@text</p>
                <p class="text-sm mt-4">@reviewName</p>
                <p class="italic my-2">@company</p>
            </div>
            <div>
                <img class="mt-4 hidden lg:block" id="Stars" src="@image?.Url()" alt="">
            </div>
        </div>
    </div>
</section>