@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@* @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>; *@
@inherits UmbracoViewPage


@{

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();
    var servicePage = siteRoot?.Children<ServicesPage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetails>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];

}

<section id="services">
    <div class="bg-[] flex flex-col justify-center items-center mt-8 mb-8 py-4 gap-4 w-screen">

        <div class="w-3/4 max-w-[1200px] pt-8 pb-8 flex flex-col lg:items-center">
            <strong class="text-md text-[#D9C3A9]">OUR SERVICES</strong>
            <h2 class="text-2xl font-bold text-[#4F5955]">
                We Provide The Solutions
                To Grow Your Business Faster
            </h2>
        </div>
          

        <div class="w-3/4 max-w-[1200px] h-full flex overflow-x-auto gap-6 snap-x snap-mandatory lg:hidden">

            @if (items.Any())
            {
                foreach (var item in items)
                {
                    <div>
                        <a href="@item?.Url()">
                            <div class="w-[250px] shadow-lg shrink-0 snap-start my-4">
                                <div class="w-full">
                                    <h3 class="p-3">@item?.Name</h3>
                                </div>
                                <img class="w-full h-50 object-cover object-center" src="@item.ServiceDetailThumbnail?.Url()" alt="">
                                <p class="text-sm font-light p-2">@item.ServiceDetailExcerpt</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="w-3/4 max-w-[1200px] hidden lg:grid lg:grid-cols-3 justify-center place-items-center">
            @if (items.Any())
            {
                foreach (var item in items)
                {
                    <div>
                        <a href="@item?.Url()">
                            <div class="w-[250px] shadow-lg shrink-0 snap-start my-4">
                                <div class="w-full">
                                    <h3 class="p-3">@item.Name</h3>
                                </div>
                                <img class="w-full h-50 object-cover object-center" src="@item.ServiceDetailThumbnail?.Url()" alt="">
                                <p class="text-sm font-light p-2">@item.ServiceDetailExcerpt</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        

    </div>
</section>

